[project]
name = "mage-etl-pipeline"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "mage-ai[dbt]==0.9.79",
    "psycopg2-binary>=2.9.11",
]
